<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DhalavaiDjango</title>
    <style>
        table,th,td {border: lpx solid black;}
    </style>
</head>
<body>
<h1>Hi</h1>
<h1>Welcome to DJango</h1>
<h1>this is my website</h1>
<ul><li>Python</li>
<li>Java</li></ul>
<table style="width:30%">
    <tr>
        <th>
            Python
        </th>
        <th>Java</th>
    </tr>
    <tr><td>Pycharm</td>
    <td>ecclipse</td></tr>
</table>
</body>
</html>